@import'reset';


.block {
    width: 200px;
    height: 200px;
    background: rgba(147, 192, 147, 0.4);
    color: #033d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    // transition-delay: 1s;
    transition-timing-function: ease;


    &:hover {
        background: #7da8f7;
        font-size: 30px;
        width: 1000px;
    }
}